.page-nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
}

.nav {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0.5em;
}

.nav:hover {
  color: #2f930e;
}
