h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10em;
  margin: 3.5rem auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin: 0.5em auto 1rem;
}

.contact:hover {
  color: #2f930e;
}

.fab, .fas {
  margin: 0.5rem;
}
