.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.landing-nav {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 0.5em auto;
}

.nav:hover {
  color: #2f930e;
}

.active {
  color: #2f930e;
}
