@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans');

.App {
  background-color: #d5d5d5;
  height: 100vh;
  text-align: center;
}

.my-name {
  color: #2c2c2c;
  display: flex;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10em;
  justify-content: center;
  letter-spacing: .05em;
  margin: 0;
  /* text-shadow: 3px 3px #6cf1ff40; */
  /* text-shadow: 5px 0.5px #73ecf975; */
  padding: 4rem 0 0;
  text-shadow:
      4px 4px 0px #c2ddb9,
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.my-title {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  margin: 0.5em auto 2em;
}

.coming-soon {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
}
