@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans');
/*  */

.App {
  text-align: center;
  background-color: #333330;
  height: 100vh;
}

header {
  padding: 3rem;
}

.my-name {
  color: #c2ddb9;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 5em;
  margin: 0;
}

.my-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 0.5em auto;
}

.coming-soon {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
}
